

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 17px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-BoldCond.eot');
	src: local('☺'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro-It';
	src: url('../fonts/MyriadPro-It.eot');
	src: local('☺'), url('../fonts/MyriadPro-It.woff') format('woff'), url('../fonts/MyriadPro-It.ttf') format('truetype'), url('../fonts/MyriadPro-It.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body{
	font-family: 'Myriad Pro';
	line-height: 1.2;
}
.container{
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.title{
	font-size: 30px;
	font-weight: 600;
	color: #000;
	position: relative;
}
.title span{
	font-size: 50px;
	color: #ffc600;
}
.title b{
	font-size: 50px;
}
.title:after{
	position: absolute;
	content: '';
	width: 133px;
	height: 1px;
	background-color: #c5c5c5;
	right:0;
	margin: 0 0 10px 65px;
}

.title-little{
	font-size: 30px;
	font-weight: 600;
	color: #000;
	position: relative;
}
.title-little span{
	font-size: 50px;
	color: #ffc600;
}
.title-little b{
	font-size: 50px;
}
.title-little:after{
	position: absolute;
	content: '';
	width: 84px;
	height: 1px;
	background-color: #c5c5c5;
	left: 0;
	bottom: 0;
	margin: 0 0 40px 30px;
}

.text{
	font-size: 14px;
	color: #595959;
}
.text p{
	font-family: 'Myriad Pro - It';
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	color: #000000;
	font-style: italic;
	margin-bottom: 25px;
}

/*Header
======================*/
.header {
	padding: 70px 0;
	width: 100%;
	position: absolute;
	z-index: 1;
}
.header__title{
	font-size: 60px;
	line-height: 48px;
	font-weight: 700;
	color: #ffff;
}
.header__title span{
	color: #ffc600;
}
.nav {
	position: absolute;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	margin-top: 60px;
}
.nav__link {
	display: inline-block;
	text-decoration: none;
	color: #ffc600;
	margin-right: 34px;
	transition: 0.2s;
}
.nav__link:hover{
	color: #fff;
}
.nav__link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #ffc600;
	transition: 0.7s;
}
.nav__link:hover::after{
	width: 100%;
}
.fixed{
	width: 100%;
	padding: 10px;
	position: fixed;
background: #4A569D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-size: 200% 200%;
	top: -60px;
	left: 0;
	animation: gradient 10s linear infinite;
}
@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

/*Intro
=======================*/
.intro {
	width: 100%;
	height: 654px;
	background: url(../img/intro.png);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

/*About
========================*/
.about {
	padding: 36px 0;
}
.about__inner {
	display: flex;
}
.about__titles {
	margin-top: 22px;
}
.about__title {
	color: #717171;
	position: relative;
	font-size: 30px;
	font-weight: 600;
}
.about__title span{
	font-size: 50px;
}
.about__subtitle {
	position: absolute;
	font-size: 80px;
	font-weight: 600;
	color: #000;
	margin-top: -30px;
}
.about__subtitle span{
	color: #ffc600;
	font-size: 80px;
}
.about__subtitle:after{
	position: absolute;
	content: '';
	width: 133px;
	height: 1px;
	background-color: #c5c5c5;
	left: 0;
	bottom: 0;
	margin-left: -15px;
}
.title:after{
	position: absolute;
	content: '';
	width: 133px;
	height: 1px;
	background-color: #c5c5c5;
	left: 0;
	bottom: 0;
}
.about__info {
	width: 620px;
	margin-left: 465px;
	position: relative;
}
.about__info:after{
	content: '';
	position: absolute;
	width: 1px;
	height: 133px;
	background-color: #c5c5c5;
	left: -20px;
	top: 10px;
}
.about__text {
	font-size: 14px;
	color: #595959;
}
.about__text p{
	font-family: 'Myriad Pro - It';
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	font-style: italic;
	margin-bottom: 25px;
}
.about__block {
	display: flex;
	margin-top: 72px;
}
.about__item {
	text-align: center;
	width: 270px;
	margin: 0 45px;
}
.block__logo {
	margin: 0 auto;
	width: 57px;
	height: 57px;
	background-color: #e8e8e8;
	border: 2px solid #ffa800;
	border-radius: 50%;
	margin-bottom: 24px;
}

.block__logo img{
	margin-top: 15px;
}
.block__title {
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 19px;
}
.block__text {
	font-family: 'Myriad Pro - It';
	font-size: 12px;
	font-weight: 400;
	color: #000000;
	font-style: italic;
}
.block__text p{
	margin-bottom: 19px;
}

/*Projects
========================*/
.projects {
	padding: 33px 0;
}
.projects__nav {
	margin-top: 23px;
}
.projects__nav-link {
	font-size: 12px;
	font-weight: 600;
	color: #101010;
	margin-right: 35px;
}
.projects__nav-link:hover{
	border-bottom: 1px solid #ffa800;
}
.projects__gallery {
	margin-top: 26px;
	display: flex;
	flex-wrap: wrap;
}
.projects__item {
	width: 25%;
	height: 267px;
	border-bottom: 2px solid #fff;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}
.image{
	position: absolute;
	min-width: 100%;
	left: 50px;
	transform: translate3d(-30%, 0%, 0);

}
.projects__item:hover{
	transform: scale(1.1);
}
/*Process
========================*/
.process {
	padding: 33px 0;
}
.process__items {
	margin-top: 43px;
	padding: 0 60px;
}
.process__item {
	display: flex;
	height: 288px;
}
.process__item-left{
	display: flex;
	margin-left: 100px;
	height: 288px;
}
.item{
	width: 920px;
}
.process__logo {
	margin-left: 100px;
}
.process__info {
	margin:40px 0 0 34px;
}
.process__title {
	font-size: 30px;
	font-weight: 600;
	color: #1d1d1d;
}
.process__title span{
	font-size: 50px;
}
.process__text{
	width: 396px;
}

/*Provided
========================*/
.provided {
	padding: 33px 0;
	background: url(../img/provided.png) center;
	background-size: cover;
	background-attachment: fixed;
}
.provided__title {
	color: #fff;
}
.provided__items {
	display: flex;
	flex-wrap: wrap;
	margin-left: 300px;
}
.provided__item {
	color: #fff;
	font-weight: 400;
	width: 225px;
	margin:45px 0 0 91px;
}
h3{
	margin-bottom: 26px;
	font-size: 18px;
}
.provided__text {
	font-size: 11px;
}
/*Team
========================*/
.team {
	padding: 66px 0;
}
.team__inner {
	display: flex;
}
.team__text{
	width: 650px;
	margin-left: 146px;
}
.team__titles {
	margin: 35px 0 0 250px;
	display: flex;
}
.team__title {
	text-align: center;
	margin: 0 10px;
}
img{
	margin-bottom: 16px;
}
h4{
	font-size: 16px;
	font-weight: 600;
	color: #000000;
}
.team__profesion {
	font-family: 'Myriad Pro - It';
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
}
/*Testimonials
========================*/
.test{
	padding: 55px 0;
	background-color: #000;
}
.title-big{
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	position: relative;
}
.title-big span{
	font-size: 50px;
	color: #ffc600;
}
.title-big b{
	font-size: 50px;
}
.title-big:after{
	position: absolute;
	content: '';
	width: 84px;
	height: 1px;
	background-color: #c5c5c5;
	left: 0;
	bottom: 0;
	margin: 0 0 10px 55px;
}
.test__item {
	display: flex;
	margin-left: 70px;
}
.test__text {
	width: 630px;
	color: #fff;
}
.test__text p{
	margin-top: 70px;
	color: #fff;
}
.test__info {
	margin-left: 87px;
	text-align: center;
}
.info__logo {
	width: 127px;
height: 127px;
background-color: #ffa800;
border-radius: 50%;
}
.info__logo img{
	margin-top: 3px;
}
.info__name {
	margin-top: 26px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.info__name p{
	font-family: 'Myriad Pro - It';
	font-weight: 400;
	font-style: italic;
}
/*Blogs
========================*/
.blogs {
	padding: 30px 0;
}
.title-blogs{
	font-size: 30px;
	font-weight: 600;
	color: #000;
	position: relative;
}
.title-blogs span{
	font-size: 50px;
	color: #ffc600;
}
.title-blogs b{
	font-size: 50px;
}
.title-blogs:after{
	position: absolute;
	content: '';
	width: 67px;
	height: 1px;
	background-color: #c5c5c5;
	left: 0;
	bottom: 0;
	margin: 0 0 10px 0px;
}
.blogs__body {
	display: flex;
}
.blogs__menu {
	margin: 55px 0 0 70px;
	position: relative;
}
.blogs__menu .active{
	display: block;
}
.menu__item {
	margin-bottom: 30px;
	width: 155px;
}
.menu__link {
font-size: 18px;
line-height: 1.2;
font-weight: 400;
color: #000;
}
.menu__link:hover{
	color: #ffc600;
	transition: 0.2s;
}

/* Nav toggle */
.nav-toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: 0;
	background: none;
	cursor: pointer;

	position: absolute;
	z-index: 1;
}

.nav-toggle:focus {
	outline: 0;
}

.nav-toggle__item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: #000;

	position: absolute;
	left: 0;
	margin: auto;

	transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
	background: none;
}
.nav_toggle:active.blogs__menu{
	display: block;
}
.nav-toggle__item:before,
.nav-toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: #000;

	position: absolute;
	left: 0;
	z-index: 1;

	transition: transform .2s linear;
}

.nav-toggle__item:before {
	top: -8px;
}

.nav-toggle__item:after {
	bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
	transform-origin: left top;
	transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


.blogs__colon {
	display: flex;
	margin-left: 115px;
	margin-top: -60px;
}
.blogs__item {
	margin: 0 41px;
}
.blogs__data {
	font-size: 18px;
	font-weight: 400;
	color: #ffc600;
	margin-bottom: 20px;
}
.blogs__name {
	font-size: 15px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 10px;
}
.blogs__info {
	font-family: 'Myriad Pro - It';
	font-size: 12px;
	color: #000000;
	font-style: italic;
}
/*Contact
========================*/
.contact{
	display: flex;
	background-color: #2046b3;
	width: 100%;
	height: 684px;
}
.contact__title {
	color: #fff;
	margin: 52px 0 18px 100px;
}
.contact__title:after{
	position: absolute;
	content: '';
	width: 132px;
	height: 2px;
	background-color: #c5c5c5;
	left: 0;
	bottom: 0;
	margin: 0 0 10px 0px;
}
.touch__form {
	display: flex;
	flex-wrap: wrap;
	margin-left: 50px;
	width: 450px;
}
.input {
	background-color: #2046b3;
	padding-left: 17px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	width: 412px;
	height: 35px;
	border: 1px solid #fff;
	margin:18px 0 0 0;
}
.input-little{
	width: 159px;
	height: 35px;
}
.input-big{
	width: 206px;
	height: 35px;
	margin-left: 47px;
}
.message{
	width: 412px;
	height: 76px;
	padding: 10px 0 0 17px;
	resize: none;
}
.button{
	margin-top: 20px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	transition: 0.5s;
}
.button:before,
.button:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border: 2px solid #DC2424;
	transition: 0.8s;
	top: -10px;
	left: 50%;
	z-index: 1;
	margin-left: -30px;
}
.button:before{
	animation: rotate 15s infinite linear;
}
.button:after{
	animation: rotate 10s infinite linear;
}
.button:hover:before,
.button:hover:after{
	left: 100%;
	opacity: 0;
}
.button:hover .formbtn:before{
	width: 100%;
}
.button:hover .formbtn{
	top: -6px;
	box-shadow: 10px 10px 10px 5px #000;
	transition: 0.5s;
	color: #fff;
}
.button:hover .formbtn:before,
.button:hover .formbtn:after{
	background-color: green;
}
.button:active .formbtn{
	box-shadow: 5px 10px 10px 5px #000;
	top: -2px;
	transition: 0.1s;
}
.button:active .formbtn:before,
.button:active .formbtn:after{
	background-color: #DC2424;
}
.formbtn {
	padding: 9px 49px 8px 41px;
	overflow: hidden;
	transition: .5s;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.formbtn span{
	position: relative;
	z-index: 2;
}
.formbtn:before,
.formbtn:after{
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #ffc600;
	transition: 0.8s;
}
.formbtn:before{
	left: 0;
	z-index: 2;
}
.formbtn:after{
	right: 0;
}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.map {
	position: relative;
	margin: 62px 0 36px 80px;
}
.map:after{
	position: absolute;
	content: '';
	width: 412px;
	height: 2px;
	background-color: #c5c5c5;
	left: -15px;
	bottom: -48px;
}
.map__title {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.map__info {

}
.map__item {
	display: flex;
	margin-top: 18px;
}
.h4 {
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}
address a{
	margin-left: 24px;
	font-style: normal;
	font-size: 12px;
	font-weight: 400;
	color: #ffffff;
}
.address2{
	margin-left: 7px;
}
.address3{
	margin-left: 12px;
}
.social {
	display: flex;
	margin: 60px 80px;
}
.social__item {
	margin: 0 2.5px;
	width: 19px;
	height: 19px;
	background-color: #fff;
	border-radius: 50%;
}
.fab {
	color: #2046b3;
	margin-left: 3px;
	font-size: 14px;
}
.fa-twitter {}
.fa-invision {}
.fa-facebook-f {
	margin-left: 5px;
}