@media (max-width: 1350px){
		.works__gallery{
	}
		.works__item{
			margin: 15px;
		}

}
@media (max-width: 1200px){
		.works__gallery{
	}
		.works__item{
			margin: 10px;
		}
}
@media (max-width: 1050px){
		.title{
		font-size: 30px;
	}
	.text{
		font-size: 20px;
	}
	.touch__info{
		margin: 0;
	}
.touch__form{
	margin: 0;
	display: block;
}

.input{
	width: 100%;
}
.message{
	width: 100%;
	margin-bottom: 30px;
}
.formbtn{
}

	.servicer{
		padding: 50px 0;
	}
	.servicer__colon{
		display: block;

		padding: 0 10px;
	}
	.servicer__item{
		width: 90%;
		margin-bottom: 40px;
	}
	.colon__logo-orange {
		height: 100px;
		width: 100px;
	}
.colon__icon {
	height: 53px;
	width: 50px;
}
.colon__logo {
	height: 100px;
	width: 100px;

}
.colon__icon2 {
	margin: 25px;
	height: 43px;
	width: 40px;
}
.colon__icon3{
	margin: 23px;
	width: 48px;
	height: 49px;
}
.colon__title {
	font-size: 25px;
	margin: 20px 0 40px 0;
}
.colon__text {
	font-size: 20px;
	line-height: 40px;
}
.about__info{
	display: block;
}
.about__text1 {
	margin-bottom: 20px;
}
.about__text2 {
	margin-left: -18px;
}
.footer{
	padding: 20px 0;
	height: 150px;
}
}
@media (max-width: 770px) {
	.title{
		font-size: 25px;
	}
	.text{
		font-size: 15px;
	}
	.header.fixed{
		padding: 10px 0;
	}

	/* Intro */
	.intro{
		height: 500px;
	}
	.intro__inner{
		margin-top: 180px;
	}
	.intro__title{
		font-size: 30px;
		margin-bottom: 50px;
	}
	.intro__title p{
		margin-top: 20px;
		font-size: 25px;
	}

	.btn{
		font-size: 15px;
	}

	/* Header */
	.header {
		padding: 15px 0;
	}
	.header__startup{
		font-size: 25px;
	}

	/* Nav */
	.nav {
		display: none;
		width: 100%;

		position: absolute;
		top: 100%;
		left: 0;

		background-color: #c0301c;
	}

	.nav.active {
		display: block;
	}

	.nav__link {
		display: block;
		margin: 0;
		padding: 10px;
		font-size: 20px;
	}

	.nav-toggle {
		display: block;
		width: 42px;
	}
	.nav-toggle__item{
		height: 6px;
	}
	.nav-toggle__item:before{
		height: 6px;
		top: -12px;
	}
	.nav-toggle__item:after{
		height: 6px;
		bottom: -12px;
	}

.
.colon__title {
	font-size: 20px;
	margin: 20px 0;
}
.colon__text {
	font-size: 15px;
	line-height: 20px;
}
.about{
	padding: 50px;
}
.slider__photo{
	width: 150px;
	height: 150px;
}
.logo__content{
	width: 100%;
	height: 100%;
}
.social__icon{
	margin: 60px 0 0 0;
}
.works__gallery{

}

.works{
	padding: 50px 0;
}
.works__menu{
	font-size: 25px;
}
.works__item {
	width: 100%;
}
.works__title {
	font-size: 35px;
}
.works__text {
	font-size: 25px;
	margin-bottom: 35px;
}
.works__btn{
	width: 200px;
	height: 78px;
}
.works__btn span{
	font-size: 30px;
}

.blog{
	padding: 40px 0;
}
.blog__contant {
	display: block;
}
.blog__logo{
	width: 100%;
}
.blog__logo img{
	width: 100%;
	height: 500px;
}
.info__data {
	color: #000;
}
.blog__info{
	margin: -130px 10px 10px 10px;
}
.name__title span{
	font-size: 20px;
	color: #000;
}
.name__subtitle{
	color: #000;
}
.name__subtitle span{
	font-size: 20px;
	color: #000;
}
.blog__text {
	font-size: 20px;
	color: #000;
}
.botton span{
	font-size: 30px;
	color: #000;
}

.reviews{
	padding: 10px 0;
}
.reviews__item{
	width: 100%;
}
.reviews__text {
	font-size: 15px;
}
.reviews__name {
	font-size: 15px;
}
.reviews__slider{
	padding: 0;
}
.reviews__slider .slick-dots li{
	margin: 40px 7.5px 0;
}
.reviews__slider .slick-dots button{
	width: 15px;
	height: 15px;
}

.touch{
	padding: 50px 0;
}
.touch__boby {
	display: block;
}
.touch__info {
	display: flex;
	justify-content: space-between;
}
.touch__item{
	width: 33%;
	padding: 0 10px;
	display: flex;
	line-height: 20px;
}
.touch__item span{
	font-size: 20px;
}
.touch__item address{
	margin-left: -0px;
	font-size: 13px;
	line-height: 30px;
}
.fas {
	font-size: 20px;
	margin-right: 15px;
}
.fa-envelope {
	font-size: 20px;
	margin-right: 15px;
}
.touch__form {
	margin: 20px;
}
.input {
	width: 100%;
	height: 54px;
	font-size: 20px;
}
.message {
	width: 100%;
	font-size: 20px;
	padding-top: 10px;
}
.formbtn {
	font-size: 15px;
}
.form__text {
	font-size: 15px;
}

.footer {
	padding: 50px 0;
	height: 250px;
}
.footer_social:after{
	margin: 50px auto;
}
.footer_social a{
	padding: 20px 17px;
}
.fab {
	font-size: 20px;
}
.footer__copy {
	font-size: 15px;
}
}



@media (max-width: 470px){
	.container{
		padding: 5px;
	}
	.title{
		font-size: 20px;
	}
	.text{
		font-size: 15px;
	}

	.about__info {
		display: block;
	}
.slick-track{
	width: 100%;
}

.works__gallery{
	padding: 0;
}
.works__item{
	width: 100%;
	height: 200px;
}
.works__title {
	font-size: 20px;
	margin-bottom: 10px;
}
.works__text {
	font-size: 20px;
	margin-bottom: 10px;
}
.works__btn{
	width: 100px;
	height: 38px;
}
.works__btn span{
	font-size: 20px;
}
.slider__photo{
	width: 100px;
	height: 100px;
}
.slider__name {
	font-size: 15px;
}
.slider__info {
	font-size: 10px;
}
.slider .slick-arrow.slick-prev{
	left: 15px;
	width: 55px;
	height: 58px;
}
.slider .slick-arrow.slick-next{
	right: 15px;
	width: 55px;
	height: 58px;
}


.parallax__title {
	font-size: 50px;
}



.blog__contant {
	display: block;
	margin-bottom: 0px;
}
.info{
	margin-top: -160px;
	display: block;
}
.touch__info{
	display: block;
}
.info__data {
padding: 10px;
font-size: 30px;

}
.info__data p{

	margin: 30px 0 0 -35px;
font-size: 30px;
}
.info__name {
	margin-top: 20px;
}


.reviews__text {
	font-size: 40px;
}
.reviews__name {
	font-size: 35px;
}


.touch__item{
	padding: 0 10px;
	display: flex;
	line-height: 30px;
}
.touch__item span{
	font-size: 20px;
}
.touch__item address{
	margin-left: -0px;
	font-size: 15px;
	line-height: 30px;
}
.fas {
	font-size: 10px;
	margin-right: 30px;
}
.fa-envelope {
	font-size: 10px;
	margin-right: 30px;
}
.touch__form {
	margin: 0px;
}
.input {
	width: 100%;
	height: 34px;
	font-size: 15px;
}
.message {
	width: 100%;
	height: 100px;
	font-size: 15px;
	padding-top: 15px;
}
.formbtn {
	font-size: 15px;
}
.form__text {
	font-size: 15px;
}

.footer {
	padding: 55px;
}
.footer_social:after{
	margin: 70px auto;
}
.footer_social a{
	padding: 35px 27px;
}
.fab {
	font-size: 30px;
}
.footer__copy {
	font-size: 30px;
}
}